body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header{
    background-color: #1F2937;
}

.header .container{
    min-height: 48px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container{
    /*border: 3px solid red;*/
    margin-right: 16vw;
    margin-left: 16vw;
}

.logo{
    font-size: 24px;
    font-weight: 900;
}

.top{
    background-color: #1F2937;
    align-content: center;
    padding-top: 48px;
    padding-bottom: 128px;
}

.top .container{
    display: flex;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
}

.top .container div{
    flex: 1 0 0;
}

.image{
    background-color:gray;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 216px;
    min-width: 320px;
}

.hero-main{
    font-size: 48px;
    font-weight: 900;
}


.info{
    min-height: 64vh;
}

.quote{
    background-color: #E5E7EB;
    min-height: 48vh;
}

.sign-up{
    min-height: 32vh;
}